.imagem {border-radius: 50%; width: 65%; float: left;}

.votos {float: right; text-align: right;}

.foto{float: left;}
.candidato{float: left;}
.informaçoes {float: left;}
.atu {color: gray;}
.secapu {color: gray;}

div.votos p{color: gray;}
div.informaçoes p{color: gray;}
.titulo {text-align: center;}
nav.pesquisa input{float: right;}
.fora {opacity: 0.5;}